<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

  <!-- Codeless Language Module for ABS.

       This adds support for ABS to BBEdit and TextWrangler, editors
       running on Mac OS X.  See the Codeless Language Module
       Reference at
       (http://www.barebones.com/support/develop/clm.html) -->

  <!-- Place this file in the Application Support/BBEdit/Language
       Modules resp. Application Support/TextWrangler/Language Modules
       directory of either your Library or Dropbox folder. -->
  
  <dict>
    <key>BBEditDocumentType</key>
    <string>CodelessLanguageModule</string>
	
    <key>BBLMLanguageDisplayName</key>
    <string>ABS</string>
    <key>BBLMLanguageCode</key>
    <string>ABS!</string>

    <key>BBLMSuffixMap</key>
    <array>
      <dict>
        <key>BBLMLanguageSuffix</key>
        <string>.abs</string>
      </dict>
    </array>

    <key>BBLMColorsSyntax</key>
    <true/>
	
    <key>BBLMSupportsTextCompletion</key>
    <true/>
    <key>BBLMIsCaseSensitive</key>
    <true/>
    <key>BBLMScansFunctions</key>
    <true/>

    <key>BBLMKeywordList</key>
    <!-- The canonical list of keywords can be found in
         frontend/src/abs/frontend/parser/ABS.flex (or in the
         equivalent file if/when we switch away from flex/beaver) -->
    <array>
      <string>module</string>
      <string>import</string>
      <string>export</string>
      <string>from</string>
      <string>class</string>
      <string>interface</string>
      <string>exception</string>
      <string>extends</string>
      <string>data</string>
      <string>def</string>
      <string>implements</string>
      <string>delta</string>
      <string>stateupdate</string>
      <string>objectupdate</string>
      <string>classupdate</string>
      <string>uses</string>
      <string>adds</string>
      <string>modifies</string>
      <string>removes</string>
      <string>hasField</string>
      <string>hasMethod</string>
      <string>hasInterface</string>
      <string>productline</string>
      <string>features</string>
      <string>after</string>
      <string>when</string>
      <string>product</string>
      <string>while</string>
      <string>return</string>
      <string>skip</string>
      <string>get</string>
      <string>null</string>
      <string>await</string>
      <string>if</string>
      <string>then</string>
      <string>else</string>
      <string>try</string>
      <string>catch</string>
      <string>finally</string>
      <string>suspend</string>
      <string>duration</string>
      <string>new</string>
      <string>movecogto</string>
      <string>this</string>
      <string>core</string>
      <string>original</string>
      <string>case</string>
      <string>let</string>
      <string>in</string>
      <string>local</string>
      <string>type</string>
      <string>assert</string>
      <string>builtin</string>
      <string>root</string>
      <string>extension</string>
      <string>group</string>
      <string>opt</string>
      <string>oneof</string>
      <string>allof</string>
    </array>

    <key>BBLMPredefinedNameList</key>
    <array>
      <string>Unit</string>
      <string>String</string>
      <string>Int</string>
      <string>Rat</string>
      <string>Bool</string>
      <string>True</string>
      <string>False</string>
      <string>Fut</string>
      <string>Exception</string>
    </array>

    <key>BBLMCommentLineDefault</key>
    <string>//</string>
	
    <key>Language Features</key>
    <dict>
      <key>Identifier and Keyword Character Class</key>
      <string>A-Za-z0-9_\?!</string>

      <key>Open Block Comments</key>
      <string>/*</string>
      <key>Close Block Comments</key>
      <string>*/</string>
      <key>Open Line Comments</key>
      <string>//</string>

      <key>Open Strings 1</key>
      <string>"</string>
      <key>Close Strings 1</key>
      <string>"</string>
      <key>Escape Char in Strings 1</key>
      <string>\</string>
      <key>End-of-line Ends Strings 1</key>
      <true/>

      <key>Open Parameter Lists</key>
      <string>(</string>
      <key>Close Parameter Lists</key>
      <string>)</string>
      <key>Terminator for Prototypes 1</key>
      <string>;</string>

      <key>Open Statement Blocks</key>
      <string>{</string>
      <key>Close Statement Blocks</key>
      <string>}</string>

    </dict> 
</dict>
</plist>

<!-- Local Variables: -->
<!-- mode: nxml -->
<!-- End: -->
