*
!.git/
!.gradle/
!abs-docs/
!build.gradle
!frontend/
!binaries/
!gradle/
!gradlew
!settings.gradle

/frontend/dist/
/frontend/build/
/frontend/out/

/abs-docs/**/*.aux
/abs-docs/**/*.bbl
/abs-docs/**/*.blg
/abs-docs/**/*.log
/abs-docs/**/*.nout
/abs-docs/**/*.toc
/abs-docs/**/*.out
/abs-docs/Ott
/abs-docs/ReferenceManual
