

body {
    font: 10pt "Trebuchet MS", sans-serif;
}

.easyinterface {
    margin: 50px;
    background: white;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-top:auto;
    border:1px solid #a1a1a1;
    padding: 0pt;
    min-width: 945px;
    width: 95%;
    height: 650px;
    padding: 5pt 5pt;
    box-shadow: 5px 5px 2px #888888;
}

.ei-paramwidget-checkbox {
  width: 100%;
  border: 1px solid;
}

.ei-paramwidget-combo {
  width: 100%;
  border: 1px solid;
}

.params-left-col {
  width: 4%;
  display: inline-block;
  margin: 0px 0px 0px 0px;  
  vertical-align: top;
}

.params-mid-col {
  width: 90%;
  display: inline-block;
  margin: 0px 0px 0px 0px;  
  vertical-align: top;
}

.params-right-col {
  width: 4%;
  display: inline-block;
  margin: 0px 0px 0px 0px;  
  vertical-align: top;
}

.ei-paramwidget-combo .desc {
  width: 70%;
  display: inline-block;
  margin: 0px 0px 0px 0px;  
  vertical-align: top;
}
.ei-paramwidget-combo .selector {
  width: 30;
  display: inline-block;
  margin: 0px 0px 0px 0px;  
  vertical-align: top;
}

.ei-paramwidget-checkbox .desc {
  width: 70%;
  display: inline-block;
  margin: 0px 0px 0px 0px;  
  vertical-align: top;
}

.ei-paramwidget-checkbox .selector {
  width: 30;
  display: inline-block;
  margin: 0px 0px 0px 0px;  
  vertical-align: top;
}


.highlightline { 
    background-color: yellow;
}

.highlightline-info, .outclass-info { 
    background-color: yellow;
}

.highlightline-warning, .outclass-warning { 
    background-color: #00FFFF;
}

.highlightline-error, .outclass-error { 
    background-color: #FF3030;
}

.bb { 
    background-color: red;
}

.infoGutter {
    background-color: #EEEEEE;
    width: 15px;
}

.actionGutter {
    background-color: #DDDDDD;
    width: 15px;
}

.preformatted {
    font-family: monospace;
    white-space: pre;
}

.markerToolTip {
}

.markerExpandedToolTip {
    font-family: monospace;
    white-space: pre;
    overflow: auto;
}


.applyingToolDialog {
    text-align: center;
}

.applyingToolDialogProgBar {
    text-align: center;
    margin: 20pt;
}

#entries
{
    border:1px solid #a1a1a1;
    border-radius:5px;
}




#parameters,#helps
{
    overflow: auto;
}






/* the tool bar */

.ei-toolbar {
    float: top; 
    width: 99.7%;
    height: 5.5%;
    padding: 0pt;
    margin: 0pt;

}


/* the file manager area */

.ei-file-code-outline {
    margin: 2pt 0pt 1pt 0pt; 
    /* border: 1px solid;  */
    width: 100%; 
    height:60%
}

.ei-filemanager-holder {
    overflow: auto;
    border:1px solid #a6c9e2;
    border-radius:5px;
    float: left; 
    width: 20%;
    height: 98.5%;
    margin: 0pt
    padding: 2pt 2pt;
}


/* the code area */

.ei-codearea-holder
{
    float: left; 
    width: 60%;
    height: 99%;
    padding: 0pt;
   /* margin: 0pt 2pt;*/
    padding: 0pt;
}

.ei-codearea {
    float: left; 
    width: 98.5%;
    height: 98%;
    overflow: auto;
}

.ei-codearea-panel {
}

.ei-codearea-content {
    overflow: auto;
    height: 88%;
    padding: 0px;
}

.ei-codearea-content-expanded {
    overflow: auto;
    height: 90%;
 
    padding: 0px;
    border: 0px;
}

.CodeMirror {
   /* height: 100%;*/
    padding: 0px;
    margin: 0px;
    padding: 2pt 2pt;
}

/* the outline area */
.ei-outline-holder {
    overflow: auto;
    border:1px solid #a6c9e2;
    border-radius:5px;
    float: left; 
    width: 18%;
    height: 97%;
    margin: 0pt;
    padding: 2pt 2pt;
}



/* the console area */

.ei-console-holder {
    float: bottom;
    width: 100%;
    height: 32.5%;

    overflow: auto;
}

.ei-console {
    /* border: 1px solid red; */
    width: 99.7%;
    overflow: auto;
    padding: 0pt;
    height: 98%;
    margin: 0pt 0pt 0pt 0pt;
}


.ei-console-panel {
}

.ei-console-content {
    overflow: auto;
    height: 65%;
}

.ei-console-content-expanded {
    overflow: auto;
    height: 100%; 
    width: 100%;
    border: 0pt;
    padding: 0pt;
    margin: 0pt;
}

.ei-console-add-button {
    padding: 0pt; 
    float: right;
    height: 40px;
}

.ei-console-close-button {
    padding: 0pt; 
    float: right;
    height: 40px;
}

.lint-error, .outclass-error {
    font-family: arial;
    font-size: 70%;
    background: none repeat scroll 0% 0% #FA0;
    color: #A00;
    padding: 2px 5px 3px;
}
.lint-error-icon {
    color: #FFF;
    background-color: #F00;
    font-weight: bold;
    border-radius: 50%;
    padding: 0px 3px;
    margin-right: 7px;
}

.lint-info {
    font-family: arial;
    font-size: 70%;
    background: none repeat scroll 0% 0% #0BF;
    color: #04A;
    padding: 2px 5px 3px;
}
.lint-info-icon {
    color: #FFF;
    background-color: #04A;
    font-weight: bold;
    border-radius: 50%;
    padding: 0px 3px;
    margin-right: 7px;
}
.lint-warning {
    font-family: arial;
    font-size: 70%;
    background: none repeat scroll 0% 0% #FFA;
    color: #F40;
    padding: 2px 5px 3px;
}
.lint-warning-icon {
    color: #FFF;
    background-color: #F40;
    font-weight: bold;
    border-radius: 50%;
    padding: 0px 3px;
    margin-right: 7px;
}


/** Misc **/


.abc {
    background: #dfeffc;
    color: 0000aa;
    height: 30px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}


.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
}
.custom-combobox-input {
    margin: 0;
    padding: 0.3em;
}
