{deps,
 [{cowboy, "2.10.0"},
  {jsx, "v2.11.0"},       % jsx 3 causes test failures; stay with v2 for now
  {esqlite, "0.7.3"}      % esqlite 0.8 has extensive API changes, stay on 0.7
 ]
}.
{erl_first_files, ["src/gc.erl"]}.
{erl_opts, [debug_info, nowarn_unused_vars, nowarn_shadow_vars]}.
{minimum_otp_vsn, "21"}.

%% NOTE: when updating this file, delete rebar.lock and re-run `rebar3 clean`,
%% or the dependencies will not actually update.  Package directory is at
%% https://hex.pm

%% Local Variables:
%% mode: erlang
%% End:
