{deps,
 [{cowboy, "2.9.0"},
  {jsx, "v3.1.0"},
  {esqlite, {git, "https://github.com/rudi/esqlite.git", {branch, "master"}}}]
}.
{erl_first_files, ["src/gc.erl"]}.
{erl_opts, [debug_info, nowarn_unused_vars, nowarn_shadow_vars]}.
{minimum_otp_vsn, "21"}.

%% Local Variables:
%% mode: erlang
%% End:
