{deps,
 [{cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", "2.0.0-pre.10"}},
           {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "2.8.2"}}]
}.
{erl_first_files, ["src/gc.erl"]}.
{erl_opts, [debug_info, nowarn_unused_vars, nowarn_shadow_vars]}.

%% This file is only used for vendoring -- i.e., we download all dependencies
%% in the specified version, then prune documentation, examples and test cases
%% and check in the source code in the main repository.  This way the build
%% process stays deterministic and does not need net access.


%% Local Variables:
%% mode: erlang
%% End:
