<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="ABS" sequenceNumber="5">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ajdt.feature.group" version="2.2.4.e45x-20150206-1600"/>
<repository location="http://download.eclipse.org/tools/ajdt/45/dev/update/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="4.4.2.v20150204-1700"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.4.2.M20150204-1700"/>
<unit id="epp.package.java" version="4.4.2.20150219-0708"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.102.v20150204-1316"/>
<unit id="org.eclipse.team.svn.feature.group" version="2.0.4.I20150123-1700"/>
<unit id="org.eclipse.team.svn.resource.ignore.rules.jdt.feature.group" version="2.0.3.I20141224-1700"/>
<unit id="org.eclipse.jdt.feature.group" version="3.10.1.v20150204-1700"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.polarion.eclipse.team.svn.connector.javahl17.win32.feature.group" version="4.0.2.I20140528-1700"/>
<unit id="org.polarion.eclipse.team.svn.connector.javahl18.feature.group" version="4.1.3.I20150214-1700"/>
<unit id="org.polarion.eclipse.team.svn.connector.javahl17.feature.group" version="4.1.3.I20150214-1700"/>
<unit id="org.polarion.eclipse.team.svn.connector.feature.group" version="4.1.3.I20150214-1700"/>
<unit id="org.polarion.eclipse.team.svn.connector.javahl18.win32.feature.group" version="4.1.2.I20141224-1700"/>
<unit id="org.polarion.eclipse.team.svn.connector.svnkit17.feature.group" version="4.1.3.I20150214-1700"/>
<unit id="org.polarion.eclipse.team.svn.connector.svnkit18.feature.group" version="4.1.3.I20150214-1700"/>
<repository location="http://community.polarion.com/projects/subversive/download/eclipse/4.0/luna-site/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/2.2.1/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
</locations>
</target>
