<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<stringAttribute key="bad_container_name" value="/eu.hatsproject.absplugin/junit-scheduler.launch"/>
<listAttribute key="com.mountainminds.eclemma.core.SCOPE_IDS">
<listEntry value="=eu.hatsproject.absplugin/src"/>
<listEntry value="=ABSFrontend/gen"/>
<listEntry value="=ABSFrontend/src"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/eu.hatsproject.absplugin/tests/eu/hatsproject/absplugin/debug/scheduling/SchedulingTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eu.hatsproject.absplugin.debug.scheduling.SchedulingTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="eu.hatsproject.absplugin"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
</launchConfiguration>
