<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name"
            id="costabs.commands.category">
      </category>
      <command
            name="%command.name"
            categoryId="costabs.commands.category"
            id="costabs.commands.noStdCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="costabs.commands.noStdCommand"
            class="costabs.handlers.CostabsHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="costabs.commands.noStdCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Costa"
               id="costabs.menus.mainMenu">
            <command
                  commandId="costabs.commands.noStdCommand"
                  id="costabs.menus.noStdCommand"
                  label="Analyze with Costa">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="costabs.toolbars.mainToolbar">
            <command
                  commandId="costabs.commands.noStdCommand"
                  icon="icons/palmtree16x16.png"
                  id="costabs.toolbars.noStdCommand"
                  tooltip="Analyze with Costa">
           <!--<visibleWhen>
					<test
						property="activeWorkbenchWindow.activePerspective"
						value="*">
					</test>
					<equals activeWorkbenchWindow.activePerspective="ABS"/>
               	</visibleWhen>-->
                  
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="costabs.preferences.CostabsPreferences"
            id="costabs.preferences.CostabsPreferences"
            name="Costa">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <page
            class="costabs.WorkbenchPreferencePage1"
            id="costabs.preferences.CostabsPreferences"
            name="Costabs preferences">
      </page>
      <initializer
            class="costabs.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="CostabsPlugin.costabs.marker"
         name="Costabs Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="CostabsPlugin.costabs.annotation"
         name="Costabs Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="CostabsPlugin.costabs.marker"
            name="CostabsPlugin.costabs.annotation">
      </type>
   </extension>
   <extension
         id="CostabsPlugin.costabs.annotationSpecification"
         name="Costabs Annotation Specification"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="CostabsPlugin.costabs.annotation"
            colorPreferenceKey="ub.colorPref"
            colorPreferenceValue="0,255,0"
            includeOnPreferencePage="true"
            label="Costabs UB"
            overviewRulerPreferenceKey="ub.ovRuler"
            overviewRulerPreferenceValue="true"
            symbolicIcon="bookmark"
            textPreferenceKey="ub.text"
            textPreferenceValue="true"
            textStylePreferenceKey="ub.textStyle"
            textStylePreferenceValue="NONE">
      </specification>
   </extension>

</plugin>
