<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Apet Category"
            id="apet.commands.category">
      </category>
      <command
            categoryId="apet.commands.category"
            id="apet.commands.noStdCommand"
            name="Apet Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="apet.commands.noStdCommand"
            class="apet.handlers.apetHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="apet.commands.noStdCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="aPET"
               id="apet.menus.mainMenu">
            <command
                  commandId="apet.commands.noStdCommand"
                  id="apet.menus.noStdCommand"
                  label="Generate test-cases with aPET">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="apet.toolbars.mainToolbar">
            <command
                  commandId="apet.commands.noStdCommand"
                  icon="icons/petIconToolbar.gif"
                  id="apet.toolbars.noStdCommand"
                  tooltip="Generate test-cases with aPET">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="apet.preferences.ApetPreferences"
            id="apetpreferences.ApetPreferences"
            name="aPET">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <page
            class="apet.WorkbenchPreferencePage1"
            id="apet.preferences.ApetPreferences"
            name="Pet preferences">
      </page>
      <initializer
            class="apet.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
